@import "tailwindcss";
@source "../../../index.html";


@import "tailwindcss";

@utility inp-cont {
  border-radius: var(--radius-2xl, 1rem);
  padding: calc(var(--spacing) * 2);
  background-color: color-mix(in oklab, var(--color-gray-500, #6b7280) 100%, transparent);
  border: 1px solid var(--color-white, #fff);
  flex: 1 1 0%;
  color: var(--color-white, #fff);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: color-mix(in oklab, var(--color-gray-600, #4b5563) 100%, transparent);
  }
}

/* @utility txtList-obj {
  padding: 2px;
  padding-top: 0px;
  margin: 0;

  &:not(:last-child) {
    border-bottom: 1px dotted #CCCCCC;
  }
}

@utility txtList-span {
  color: #a8b5ce;
  width: 100%;
  &::after {
    content: " ";
  }
}

@utility sequence-list-container {
  scrollbar-width: thin;
  
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent; 


  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
} */

@utility txtList-obj {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  margin: 0;
  border-radius: 6px;
  white-space: nowrap;
  transition: background-color 0.15s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  overflow-y: hidden;
  overflow-x: auto;

  color-scheme: dark;
  ::-webkit-scrollbar: none;
  scrollbar-width: none;

  
  


  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    scrollbar-width: thin;
    scrollbar-color: #555555 #222222;
  }

  &:last-child {
    border-bottom: none;
  }
}

@utility txtList-index {
  color: #64748b;
  font-weight: 500;
  min-width: 32px;
  display: inline-block;
  user-select: none;
}

@utility sequence-list-container {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}

@utility math-exp-anim {
  opacity: 0;
  transform: translateX(100%)l-143
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

@utility txtList-obj.expanded .math-exp-anim {
  opacity: 1;
  transform: translateX(0);
}

@utility txtList-index {
  color: #64748b;
  font-weight: 500;
  min-width: 32px;
  display: inline-block;
  user-select: none;
}



